.section{
    background: url(/assets/career.jpg) no-repeat;
    background-size: cover;
}
.contain {
    min-height: 100vh;
    background: rgba(35, 152, 220, 0.23);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(35, 152, 220, 0.3);
}
.navbar-bg{
    background: #9aa2a154;
}
.current-tab-list{
    background: #9aa2a154;
    border-radius: 4px;
    padding: 14px;
}
.list-scroller{
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}
